*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
 img{
    width: 300px;
    height: 200px;
 }
.contenido{
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.contenedor-img{
    width: 100%;
    transition: .5s ease;
}
 .contenedor-img .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
 }
 .contenedor-img .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
 }
 .contenedor-img .fila  .item:hover{
    background-color: #e6e6e6;
    font-size: 18px
 }
 .contenedor-img .fila .item img{
    width: 100%;
    margin-bottom: 30px 0; 
 }
 .contenedor-img .fila .item .descripcion{
    color: #484646;
    font-weight: bold;
 }
 .contenedor-img .fila  .item .precio{
     color: #f85151;
     font-weight: bold;
     font-size: 20px
 }
